<section class="section-contacts" id="contacts">

    <h2 class="section-program__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
        Контакты
    </h2>

    <div class="section-contacts__inner container">
        <aside class="section-contacts__aside-left">
            <span class="section-contacts__span">
                Адрес:
                <a class="section-contacts__link" href="">
                    ул. Хрещатик, 14, Киев
                </a>
            </span>
            <span class="section-contacts__span">
                Телефон:
                <a class="section-contacts__link" href="">
                    +380964521574
                </a>
            </span>
            <span class="section-contacts__span">
                Email:
                <a class="section-contacts__link" href="">
                    onerudao@gmail.com
                </a>
            </span>
        </aside>



        <aside class="section-contacts__aside-right">
            <span class="section-contacts__span">
                Telegram:
                <a class="section-contacts__link" href="">
                    t.me/ONERuDAO
                </a>
            </span>
            <span class="section-contacts__span">
                Discord:
                <a class="section-contacts__link" href="">
                    discord.gg/2k6zcfDJ
                </a>
            </span>
            <span class="section-contacts__span">
                Twitter:
                <a class="section-contacts__link" href="">twitter.com/onerudao
                </a>
            </span>
        </aside>
    </div>

    <div class="section-contacts__map">

        <iframe class="section-contacts__iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.4482333741826!2d30.523012315547092!3d50.451377395179435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51b5092485%3A0x6331d111d6051754!2z0JPRgNCw0L3QtCDQpdC-0LvQuyDQmtGA0LXRidCw0YLQuNC6!5e0!3m2!1sru!2sua!4v1641755367278!5m2!1sru!2sua"
            width="200" height="200" allowfullscreen="" loading="lazy"></iframe>

    </div>


</section>