<footer class="footer">
    <div class="footer__container container">

        <ul class="footer__list">
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://www.harmony.one/">Про Harmony</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://twitter.com/harmonyprotocol">Твиттер</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://talk.harmony.one/c/community/russian">Форум</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href=" https://t.me/harmony_kyiv">Телеграм</a>
            </li>
        </ul>



    </div>
</footer>