<header class="header" id="header">
    <div class="header__container container">


        <img class="header__logo" src="images/logo.png" alt="logo">

        <h2 class="header__title title">ONERuDAO Meetup 1.0 - Harmony Developers and Creators Day</h2>
        <h3 class="header__subtitle">Киев, 19 Февраля, PMHUB ул. Иоанна Павла II, 5</h3>
        <p class="header__text">Приглашаем всех желающих узнать о блокчейне Harmony и проектах в его экосистеме , что
            такое DAO и в частности
            познакомиться с ONERuDAO на нашей первой в Украине Meetup встрече.</p>

        <a class="header__button uk-animation-toggle button" target="_blank" href="https://www.eventbrite.com/"
            tabindex="0" data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                class="button__text uk-animation-scale-up">Регистрация</span></a>




    </div>
</header>