<header class="header" id="header">
    <div class="header__container container">


        <h2 class="header__title title">ONERuDAO Meetup 1.0</h2>
        <h3 class="header__subtitle">Киев, 28 Января, Крещатик Grand-Hall</h3>
        <p class="header__text">приглашаем всех желающих узнать о проекте Harmony, что такое DAO и в частности
            познакомиться с ONERuDAO на нашей первой в Украине Meetup встрече.</p>

        <a class="header__button uk-animation-toggle button" target="_blank"
            href="https://www.eventbrite.com/e/onerudao-meetup-tickets-242994191167" tabindex="0"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                class="button__text uk-animation-scale-up">Регистрация</span></a>




    </div>
</header>