<header class="header" id="header">
    <div class="header__container container">


        <img class="header__logo" src="images/logo.png" alt="logo">

        <h2 class="header__title title">Harmony Developers and Creators Day</h2>
        <h3 class="header__subtitle">Киев, 19 Февраля, PMHUB ул. Иоанна Павла II, 5</h3>
        <p class="header__text">Первый нативный митап Harmony protocol в Киеве.</p>
        <p class="header__text">Друзья, с нами вы познакомитесь с быстро развивающейся технологией блокчейна Harmony,
            прослушаете доклады об особенности запуска продуктов Web3 с интеграцией L1 чейна, поучаствуете в нетворкинге
            с передовыми командами получившими грант, найдете ответ на вопрос “Что такое Web3, NFT, DAO?” и конечно
            станете призерами обширной программы инициатив для посетителей ивента!</p>
        <p class="header__text header__text--strong">Приглашаем Web3 разработчиков, Создателей новой цифровой экономики,
            Активных участников
            украинских крипто-сообществ - Be The ONE!</p>
        <p class="header__text">Участие в мероприятии абсолютно бесплатно - поэтому не откладывайте регистрацию на
            потом. Мы можем принять только 300 посетителей!</p>

        <a class="header__button uk-animation-toggle button" target="_blank"
            href="https://www.eventbrite.com/e/harmony-developers-and-creators-day-tickets-254605571117" tabindex="0"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                class="button__text uk-animation-scale-up">Регистрация</span></a>




    </div>
</header>