<section class="section-program" id="program">
    <div class="section-program__container container">

        <h2 class="section-program__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Программа</h2>

        <div class="section-program__inner">

            <ul class="section-program__list" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <li class="section-program__item">
                    <span class="section-program__span">08:00</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">09:30</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">10:00</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">10:30</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">11:30</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">12:00</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">12:30</span>
                    <p class="section-program__text"></p>
                </li>
                <li class="section-program__item">
                    <span class="section-program__span">13:30</span>
                    <p class="section-program__text"></p>
                </li>
            </ul>

        </div>






    </div>
</section>