<section class="section-speakers" id="speakers">
    <div class="section-speakers__container container">

        <h2 class="section-speakers__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Спикеры</h2>

        <ul class="section-speakers__list">
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/1.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Стивен Це</h3>
                <p class="section-speakers__text">Блокчейн-исследователь в Distributed Lab</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/2.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Ронцзянь Лан</h3>
                <p class="section-speakers__text">Генеральный директор Yellow.com</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/3.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Сахиль Деван</h3>
                <p class="section-speakers__text">Архитектор Эфириума</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/4.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Ник Уайт</h3>
                <p class="section-speakers__text">CEO в CoinsPaid и CryptoProcessing</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/5.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Стивен Це</h3>
                <p class="section-speakers__text">CEO Blockchain Association of Ukraine</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/6.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Сахиль Деван</h3>
                <p class="section-speakers__text">Серийный предприниматель</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/7.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Ронцзянь Лан</h3>
                <p class="section-speakers__text">Ведущий инженер по блокчейну в 4ire Labs</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/8.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Ник Уайт</h3>
                <p class="section-speakers__text">Технический директор Blaize.tech</p>
            </li>
            <li class="section-speakers__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/9.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle">Сахиль Деван</h3>
                <p class="section-speakers__text">Основатель ONEruDAO, протокол Harmony</p>
            </li>
        </ul>



    </div>
</section>