<section class="section-speakers" id="speakers">
    <div class="section-speakers__container container">

        <h2 class="section-speakers__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Спикеры</h2>

        <ul class="section-speakers__list">
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_1.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Nick Vasilich</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Идейный основатель ONERuDAO</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">В криптоиндустрии с 2017 года,
                    активный участник криптосообщества,
                    погружен в выработку концепций взаимодействия в рамках децентрализованных автономных организаций,
                    верит в неизбежность web3 как парадигмы владения в рамках онлайн ресурсов организатор и участник
                    криптоконференций.
                </p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_2.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Никита Карпов</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Marketing Lead MarsColony</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">С 2018 года занимался развитием
                    екомерс проектов в Украине и странах
                    СНГ. С крипто-миром познакомился в конце 2021 на проекте MarsColony. Планирую блокчейн экспансию.
                </p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_3.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Aleksey Chusov</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Основатель и СЕО First NFT Agency
                </p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Исследователь и разработчик WEB 3.0 и
                    децентрализованых технологий, сомелье.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_4.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Ростислав Бортман</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Head of Blockchain Department at
                    IdeaSoft</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Основатель Kyiv Ethereum Community,
                    лектор Sigma Software University, исследователь Web
                    3.0.
                    За 1,5 месяца вместе с коллегой разработал xSigma.fi – децентрализованную биржу для стейблкоинов и
                    платформу для майнинга ликвидности на Ethereum блокчейне, которая привлекла 150 000 000 $ капитала в
                    течение 2-х недель. Объем торгов на бирже сейчас уже более 300 000 000$.
                </p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_5.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Andriy</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">MSC Information Systems Management
                </p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Амбассадор Warwick University в
                    Украине, со организатор BlockchainUA, основатель телеграм канала Криптохомяки.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_6.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Вадим Груша</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium"> СЕО и соучредитель криптокошелька
                    лидера Trustee.</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">В криптоиндустрии с 2013 года,
                    активный участник криптосообщества, организатор и участник большого количества ивентов. Руководитель
                    направления “Блокчейн” самой масштабной офлайн ІТ конференции іForum. Cоорганизатор конференции
                    “Деньги Будущего”. На данный момент главный фокус деятельности - Trustee Wallet.
                </p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_11.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Вороновский Вадим</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">ONERuDAO Governor (Хранитель)</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">3 года опыта работы в SEO на позиции
                    Linkbuilder. В криптоиндустрии с 2021 года, активный участник криптосообщества. Хранитель первого
                    созыва ONERuDAO.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_7.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Евгений Романенко</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">ENVELOP (NIFTSY), Media Host</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Евгений Романенко aka Crypto Emcee -
                    экономист австрийской школы, евангелист Web 3.0, лидер мнений. 100 статей, 3.000 интервью с 500
                    экспертами и 50М просмотров, 110 ивентов в 20 городах 7 стран. Ведущий криптомероприятий,
                    интервьюер, спикер.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_8.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Юлиан Огоновський</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">SMM / Blockchain Developer.</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Менеджер сообщества. Поддерживаю
                    общение с ней и развиваю ее. Готовлю специальные инвенты. Монтирую видео с помощью Adobe Premiere
                    Pro. Пишу сообщения и объявления на английском языке. Занимался поиском влиятельных лиц и
                    коллабораций с нашим проектом. Практикуюсь в качестве разработчика Blockchain и как WEB 3.0
                    Developer.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_13.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Froggie</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Co-Founder and Art Director of
                    Metatrone NFT Platform</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Инженер, дизайнер. Art Director в
                    Take-Two Interactive, ранее в Electronic Arts. 5 лет работы в вебе, 10 лет в геймдеве. В крипте с
                    марта 2017, со-основатель Helsinki Crypto Club.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_9.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Валентин Олейник</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">DApps developer at bRing.finance</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">6 лет опыта работы в
                    блокчейн-индустрии. Работал на криптовалютных биржах в Лондоне (CEX.IO) и Швейцарии (SwissBorg).
                    Опыт разработки DApps от 2 лет.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_10.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Дмитрий Карпов</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Partnership Developer at
                    bRing.finance</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">5 лет в маркетинге и развитии
                    партнерства, 1 год в криптовалюте.</p>
            </li>
            <li class="section-speakers__item uk-animation-toggle"
                data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                <img src="images/speakers/speaker_12.png" alt="" class="section-speakers__image">
                <h3 class="section-speakers__subtitle uk-animation-slide-bottom-medium">Max Lurya</h3>
                <p class="section-speakers__text uk-animation-slide-bottom-medium"> CEO of EnoughTea</p>
                <p class="section-speakers__text uk-animation-slide-bottom-medium">Max Lurya is from California. He
                    consults on matters related to OFAC sanctions regulations in the crypto space and regularly hosts
                    major crypto events. In 2021, he was MC at the first blockchain summit in the World Expo's 170-year
                    history. Max is the CEO of EnoughTea, an up-and-coming NFT marketplace and mobile app.</p>
            </li>

        </ul>



    </div>
</section>