<section class="section-sponsors">
    <div class="section-sponsors__container container">


        <h2 class="section-sponsors__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Спонсор
        </h2>



        <img src="images/sponsors.png" alt="" class="section-sponsors__image"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
        <p class="section-sponsors__text" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Harmony это быстрый и
            безопасный блокчейн для децентрализованных приложений.
            Производительность основной сети основана на работе 4 шардов, состоящих из 1000 нод которые производят блоки
            каждые 2 секунд.</p>
        <p class="section-sponsors__text" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Механизм консенсуса
            нашей сети, под названием Эффективное Доказательство Доли
            (EPoS) нивелирует централизацию поддерживая делегирование, награды со сложным интересом и отсечение двойных
            подписей.</p>

        <a class="section-sponsors__button uk-animation-toggle button" target="_blank" href="https://www.harmony.one/"
            tabindex="0" data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                class="button__text uk-animation-scale-up">Подробнее</span></a>


    </div>
</section>