<section class="section-sponsors">
    <div class="section-sponsors__container container">


        <h2 class="section-sponsors__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Спонсор
        </h2>



        <img src="images/sponsors.png" alt="" class="section-sponsors__image"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
        <p class="section-sponsors__text" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Harmony это быстрый и
            безопасный блокчейн для децентрализованных приложений.
            Производительность основной сети основана на работе 4 шардов, состоящих из 1000 нод которые производят блоки
            каждые 2 секунд.</p>
        <p class="section-sponsors__text" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Harmony это открытый
            консенсус усиливающий в 1000 раз децентрализованные экономики по всему миру.</p>
        <p class="section-sponsors__text" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">Строим
            децентрализованное будущее вместе!</p>

        <a class="section-sponsors__button uk-animation-toggle button" target="_blank"
            href="https://www.eventbrite.com/e/harmony-developers-and-creators-day-tickets-254605571117" tabindex="0"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                class="button__text uk-animation-scale-up">Регистрация</span></a>


    </div>
</section>