<section class="section-sponsors">
    <div class="section-sponsors__container container">


        <h2 class="section-program__title title title--white" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Спонсоры
        </h2>



        <ul class="section-sponsors__list">
            <li class="section-sponsors__item">
                <img src="images/sponsors_1.png" alt="" class="section-sponsors__image">
            </li>
            <li class="section-sponsors__item">
                <img src="images/sponsors_2.png" alt="" class="section-sponsors__image">
            </li>
            <li class="section-sponsors__item">
                <img src="images/sponsors_3.png" alt="" class="section-sponsors__image">
            </li>
            <li class="section-sponsors__item">
                <img src="images/sponsors_4.png" alt="" class="section-sponsors__image">
            </li>
        </ul>


    </div>
</section>